<div class="container mt-80">
    <div class="row text-center">

        <div *ngFor="let produto of produtos" class="col-md-4 ">
            <div class="card text-center">
                <a class="text-decoration-none" [routerLink]="['/produto-detalhe', produto.id]">
                    <img src="assets/images/{{produto.imagem}}" width="auto" height="150">
                </a>
                <div class="card-body">
                    <h4 class="card-title">{{produto.nome | titlecase}}</h4>
                    <p class="card-text">por apenas</p>
                    <div>
                        <h4>{{produto.valor | currency :'BRL':'symbol':'1.2-2':'pt'}}</h4>
                    </div>
                </div>
                <div class="card-footer text-white">
                    <a class="btn btn-primary">
                        <img src="assets/icons/cart3.svg">
                        Comprar
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>